@using WhatDoYouMeme.Infrastructure
@model IEnumerable<MemeListingViewModel>

<div class="row">
    @foreach (var meme in Model)
    {
        <div id="@meme.Id" class="card offset-lg-2" style="width: 800px; margin-bottom: 24px">
            <img class="card-img-top" src="@meme.ImageUrl" alt="MemeURL">
            <div class="card-body">
                <h4>Memer:</h4>
                <p class="card-text">@meme.MemerName</p>
                <h4>Description:</h4>
                <p class="card-text">@meme.Description</p>
                <h4>Date published:</h4>
                <p class="card-text">@meme.Date</p>
                <a asp-controller="Memes" asp-action="Like" asp-route-id="@meme.Id" class="btn btn-success">Like</a>
                <span>@meme.Likes total likes</span> <br />
            </div>
            <div>

                @if (meme.Comments.Any())
                {
                    <ul style="margin-bottom: 24px; list-style-type: none; padding:18px">
                        <h3>Comments:</h3>
                        @foreach (var comment in meme.Comments)
                        {
                            <li>
                                @comment.MemerName @comment.Date <br />
                                - @comment.CommentText
                                <div>
                                    <a asp-controller="Comments" asp-action="Like" asp-route-id="@comment.Id" class="btn btn-primary">Like</a>
                                    @if (User.IsAdmin())
                                    {
                                        <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id" class="btn btn-danger">Delete</a>
                                    }
                                    <span>@comment.Likes total likes</span>
                                </div>
                            </li>
                        }
                    </ul>
                }

            </div>
            <a asp-controller="Memes" asp-action="Details" asp-route-id="@meme.Id" class="btn btn-info" style="margin-bottom: 12px">Details</a>
            @if (ViewBag.AllowMemeEdit == true || User.IsAdmin())
            {
                <a asp-controller="Memes" asp-action="Edit" asp-route-id="@meme.Id" class="btn btn-warning" style="margin-bottom: 12px">Edit</a>
                <a asp-controller="Memes" asp-action="Delete" asp-route-id="@meme.Id" class="btn btn-danger">Delete</a>
            }
        </div>
    }

</div>
