@using WhatDoYouMeme.Infrastructure
@model IEnumerable<MemeListingViewModel>

<div class="row">
    @foreach (var meme in Model)
    {
    <div class="card offset-lg-2" style="width: 50rem; margin-bottom: 24px">
        <img class="card-img-top" src="@meme.ImageUrl" alt="Meme">
        <div class="card-body">
            <h4>Memer:</h4>
            <p class="card-text">@meme.MemerName</p>
            <h4>Description:</h4>
            <p class="card-text">@meme.Description</p>
            <h4>Date published:</h4>
            <p class="card-text">@meme.Date</p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link">Like</a>
            <span>@meme.Likes total likes</span> <br>
            <a asp-controller="Memes" asp-action="Details" asp-route-id="@meme.Id" class="btn btn btn-primary">Details</a>
            @if (ViewBag.AllowMemeEdit == true || User.IsAdmin())
            {
                <a asp-controller="Memes" asp-action="Edit" asp-route-id="@meme.Id" class="btn btn-warning">Edit</a>
                <a asp-controller="Memes" asp-action="Delete" asp-route-id="@meme.Id" class="btn btn-danger">Delete</a>
            }
        </div>
       
    </div>
    }

</div>